*{
    background-color: green;
    color: yellowgreen;
}

h1{
    color: aliceblue;
    background-color: blue;
}

h2{
    color: aquamarine;
    background-color: black;
}

p{
    color:darkgoldenrod ;
    background-color: cornsilk;
}